/* Title */

.TitleCss {
    color: rgb(255, 161, 210);
    background-color: rgb(48, 255, 248);
    height: 5rem;
    padding: 2.4rem 2.4rem 2.4rem 2.4rem;
    font-size: large;
    width: 100%;
}

.H1Css {
    border-radius: 50%;
    background-color: yellow;
    width: 20%;
    min-width: 20rem;
    height: 4rem;
    padding-top: 1rem;
    margin: auto;
}


/* Side Menu */

.parentSideMenuCss {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    padding: 1rem;
    margin: 0 1rem 0 0;
    background-color: rgb(49, 166, 162);
    color: rgb(255, 161, 210);
    text-align: left;
}

.sideMenuCss {
    width: 5rem;
    padding-left: 1rem;
    font-size: xx-large;
    /* margin: 0; */
    /* height: 100%; */
}


/* Preview Recipes */

.smallRecipeContainer {
    display: flex;
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.PreviewRecipe {
    color: rgb(255, 161, 210);
    background-color: rgb(27, 109, 106);
    height: 12rem;
    width: 100%;
    padding: 1.4rem;
    font-size: large;
    margin: 2rem;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.SingleRecipeSection {
    width: 23.9rem;
    height: 2.5rem;
    display: flex;
}

.RecipeBottom {
    width: 23.9rem;
    height: 2.5rem;
    display: flex;
}

.recipeImage {
    margin-right: 1rem;
    height: 100%;
    width: auto;
    border: 1px solid #929292;
}

.h1 {
    font-size: x-large;
    width: 60%;
    margin: 0;
}

.h2 {
    font-size: x-large;
    width: 50%;
    margin: 0;
}

.h3 {
    font-size: large;
    width: 40%;
    height: 50%;
    margin: 1rem 0 0 0;
}

.h4 {
    font-size: large;
    width: 50%;
    margin: 1rem 0 0 0;
}


/* Single recipe */

.singleRecipe {
    color: rgb(255, 161, 210);
    background-color: rgb(27, 109, 106);
    /* height: 25rem; */
    height: auto;
    width: 100rem;
    padding: 1.4rem;
    font-size: large;
    margin: 2rem;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.singleRecipeImage {
    margin-right: 1rem;
    height: 200px;
    width: 200px;
    border: 1px solid #929292;
}

.sh1 {
    font-size: x-large;
    width: 40%;
    height: 2.5rem;
    margin: 0 0 1rem 0;
}

.sh2 {
    font-size: x-large;
    width: 50%;
    margin: 0;
}

.sh3 {
    font-size: large;
    width: 40%;
    height: 2.5rem;
    margin: 1rem 0 0 0;
}

.sh4 {
    font-size: large;
    width: 50%;
    margin: 1rem 0 0 0;
}

.SingleRecipeSection {
    width: 50%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
}

.SingleRecipeSectionRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.SingleRecipeSectionColumn {
    width: 50%;
    display: flex;
    flex-direction: column;
}