/* Title */

.TitleCss {
    color: rgb(255, 161, 210);
    background-color: rgb(48, 255, 248);
    height: 5rem;
    padding: 2.4rem 2.4rem 2.4rem 2.4rem;
    font-size: large;
    width: 100%;
}

.H1Css {
    border-radius: 50%;
    background-color: rgb(255, 255, 125);
    width: 20%;
    min-width: 20rem;
    height: 4rem;
    padding-top: 1rem;
    margin: auto;
    text-decoration: none;
}

.H1Css a {
    /* margin: auto; */
    text-decoration: none;
    color: hotpink;
}

.H1Css a:hover {
    /* margin: auto; */
    text-decoration: none;
    color: pink;
}

/* Side Menu */

.parentSideMenuCss {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    padding: 1rem;
    margin: 0 1rem 0 0;
    background-color: rgb(49, 166, 162);
    color: rgb(255, 255, 106);
    text-align: left;
}

.parentSideMenuCss ul li a {
    color: rgb(255, 255, 106);
    font-size: large;
    font-weight: 600;
    text-decoration: none;
}

.sideMenuCss {
    width: 5rem;
    padding-left: 1rem;
    font-size: xx-large;
}


/* Preview Recipes */

.smallRecipeContainer {
    display: flex;
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.inputField {
    margin: 2rem 0 0 2rem;
}

.recipeArticle {
    color: rgb(255, 161, 210);
    background-color: rgb(27, 109, 106);
    height: 12.5rem;
    width: 100%;
    padding: 1.4rem;
    font-size: large;
    margin: 2rem;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.recipeDiv {
    /* display: block; */
    width: 100%;
}

.SingleRecipeSection {
    width: 23.9rem;
    height: 2.5rem;
    display: flex;
}

.RecipeBottom {
    width: 23.9rem;
    height: 2.5rem;
    display: flex;
}

.recipeImage {
    margin-right: 1rem;
    height: 11rem;
    width: 11rem;
    /* width: auto; */
    border: 1px solid #929292;
}

.recipeDiv h1 a {
    color: rgb(255, 94, 177);
    text-decoration: none;
}

.recipeDiv h1 a:hover {
    color: rgb(239, 47, 146);
    text-decoration: none;
}


.h1 {
    font-size: xx-large;
    width: 60%;
    margin: 0 0 0.3rem 0;
}

.h2 {
    font-size: x-large;
    width: 50%;
    margin: 0;
}

.h3 {
    font-size: large;
    width: 40%;
    height: 50%;
    margin: 1rem 0 0 0;
}

.h4 {
    font-size: large;
    width: 50%;
    margin: 1rem 0 0 0;
}

.p {
    display: inline;
    margin-left: 5rem;
}


/* Single recipe */

.singleRecipe {
    color: rgb(255, 143, 193);
    background-color: rgba(14, 128, 124, 0.978);
    /* height: 25rem; */
    height: auto;
    width: 100rem;
    padding: 1.4rem;
    font-size: large;
    margin: 2rem;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 10px;
}

.singleRecipeImage {
    margin-right: 1rem;
    height: 200px;
    width: 200px;
    border: 1px solid #929292;
    border-radius: 10px;
}

.sh1 {
    font-size: x-large;
    width: 100%;
    height: 2.5rem;
    margin: 0 0 1rem 0;
}

.sh2 {
    font-size: x-large;
    width: 50%;
    margin: 0;
}

.sh3 {
    font-size: large;
    width: 100%;
    height: 2.5rem;
    margin: 1rem 0 0 0;
}

.sh4 {
    font-size: large;
    width: 50%;
    margin: 1rem 0 0 0.5rem;
}

.SingleRecipeSection {
    width: 50%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
}

.SingleRecipeSectionRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.SingleRecipeSectionColumn {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.SingleRecipeSectionColumn ul {
    width: 17rem;
}
